[core]
	editor = code --wait
	pager = delta
	autocrlf = input
	excludesfile = /Users/brett/.gitignore_global

[init]
	defaultBranch = main

[user]
	name = Brett Epps
	email =

[push]
	default = simple

[pull]
	rebase = true

[interactive]
    diffFilter = delta --color-only
[diff]
	tool = bc3
	renameLimit = 1000
	colorMoved = default
	external = difft

[difftool]
	prompt = false
	bc3 = trustExitCode

[merge]
	tool = bc3
	conflictstyle = diff3

[mergetool]
	prompt = false
	bc3 = trustExitCode
	keepBackup = false

[difftool "sourcetree"]
	cmd = /usr/local/bin/bcomp \"$LOCAL\" \"$REMOTE\"
	path = -ro
[mergetool "sourcetree"]
	cmd = /usr/local/bin/bcomp \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
	trustExitCode = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process

[advice]
	detachedHead = false
	skippedCherryPicks = false

[sequence]
	editor = interactive-rebase-tool

[delta]
	navigate = true  # use n and N to move between diff sections

[include]
	path = ~/.gitconfig.user
[checkout]
	defaultRemote = origin
