[core]
	editor = code --wait
	autocrlf = input
	excludesfile = /Users/brett/.gitignore_global

[user]
	name = Brett Epps
	email =

[push]
	default = simple

[diff]
	tool = bc3
	renameLimit = 1000

[difftool]
	prompt = false
	bc3 = trustExitCode

[merge]
	tool = bc3
	# conflictstyle = diff3

[mergetool]
	prompt = false
	bc3 = trustExitCode
	keepBackup = false

[difftool "sourcetree"]
	cmd = /usr/local/bin/bcomp \"$LOCAL\" \"$REMOTE\"
	path = -ro
[mergetool "sourcetree"]
	cmd = /usr/local/bin/bcomp \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
	trustExitCode = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process

[include]
	path = ~/.gitconfig.user
[advice]
	detachedHead = false
[pull]
	rebase = true
[sequence]
	editor = interactive-rebase-tool
[init]
	defaultBranch = master
