[core]
	editor = nano -w
	autocrlf = input

[user]
	name = Brett Epps

[push]
	default = simple

[diff]
	tool = bc3

[difftool]
	prompt = false
	bc3 = trustExitCode

[merge]
	tool = bc3
	conflictstyle = diff3

[mergetool]
	prompt = false
	bc3 = trustExitCode

[include]
	path = ~/.gitconfig.user
