"*":
  "atom-ternjs":
    displayAboveSnippets: true
    useSnippets: true
    useSnippetsAndFunction: true
  "atom-typescript":
    preferredQuoteCharacter: "'"
  core:
    disabledPackages: [
      "archive-view"
      "autocomplete-atom-api"
      "image-view"
      "language-clojure"
      "language-go"
      "language-java"
      "language-less"
      "language-make"
      "language-objective-c"
      "language-perl"
      "language-php"
      "language-property-list"
      "language-ruby-on-rails"
      "language-toml"
      "metrics"
      "open-on-github"
      "package-generator"
      "styleguide"
      "welcome"
      "linter-htmlhint"
      "linter-scss-lint"
      "activate-power-mode"
      "angularjs"
      "atom-ternjs"
      "autocomplete-clang"
      "autocomplete-python"
      "linter-clang"
      "linter-pylint"
      "linter-xmllint"
      "dev-live-reload"
      "bookmarks"
      "background-tips"
      "autosave"
    ]
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
    ]
    projectHome: "/Users/brett/Repos"
    themes: [
      "one-dark-ui"
      "monokai"
    ]
  docblockr:
    align_tags: "no"
  editor:
    backUpBeforeSaving: true
    fontFamily: "input mono"
    fontSize: 12
    invisibles: {}
    preferredLineLength: 120
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "ff8ebc7d-7204-4993-ee88-c2ad35f562d5"
  linter: {}
  "linter-eslint":
    lintHtmlFiles: true
  "linter-sass-lint": {}
  "linter-scss-lint":
    executablePath: "/usr/local/var/rbenv/versions/2.2.3/bin/scss-lint"
  "linter-tslint": {}
  minimap:
    displayMinimapOnLeft: true
    plugins:
      "find-and-replace": true
      "git-diff": true
      "highlight-selected": true
      linter: true
      selection: true
  "spell-check":
    grammars: [
      "source.gfm"
      "comment.line.double-slash.js"
      "comment.block.documentation.js"
    ]
  tabs:
    enableVcsColoring: true
  "tidy-tabs":
    accessedThreshold: 10
    minimumTabs: 8
    modifiedThreshold: 30
    runOnSave: true
  "todo-show":
    ignoreThesePaths: [
      "**/tools/"
      "**/node_modules/"
      "**/vendor/"
      "**/bower_components/"
    ]
    showInTable: [
      "Text"
      "File"
    ]
    sortBy: "File"
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
    showOnRightSide: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".angular.html.text":
  editor:
    preferredLineLength: 120
".jade.source":
  editor:
    preferredLineLength: 120
".coffee.jsx.source":
  editor:
    preferredLineLength: 120
".js.jsx.source":
  editor:
    preferredLineLength: 120
".js.regexp.replacement.source":
  editor:
    preferredLineLength: 120
".js.regexp.source":
  editor:
    preferredLineLength: 120
".js.source":
  editor:
    preferredLineLength: 120
".plain.text":
  editor:
    preferredLineLength: 120
".source.ts":
  editor:
    preferredLineLength: 120
".source.tsx":
  editor:
    preferredLineLength: 120
".text.todo":
  editor:
    preferredLineLength: 120
