layout node

if has use_nvm; then
  use nvm
else
  echo 'Want to automatically switch between Node versions?'
  echo 'Add this to ~/.direnvrc:'
  echo 'use_nvm() {'
  echo '  source $NVM_DIR/nvm.sh'
  echo '  nvm use'
  echo '}'
fi
